{% extends 'base.html' %}


{% block body %}

        <div class="container">
            <h1 style="color: rgb(255, 81, 0)">Comunidade Impressionadora</h1>
            <h3>Alunos especialistas e professores em um só lugar!</h3>
            <hr>
            {% for post in posts %}
                <div class="row border mt-4 p-3 meupost" style="position: relative;">
                    <div class="col col-3">
                        <div class="image pe-2"> 
                            <img src="{{ url_for('static', filename='fotos_perfil/{}'.format(post.autor.foto_perfil)) }}" class="rounded" width="100"> 
                        </div>
                        <strong>{{ post.autor.username }}</strong>

                        <div class="row justify-content-center" style="text-align:center">
                            {% for curso in post.autor.cursos.split(';') %}
                                <button type="button" class="btn btn-success mt-2" disabled> {{ curso }} </button>
                            {% endfor %}
                        </div>
                    </div>
                    <div class="col col-9">
                        <a style="text-decoration: none" href="{{ url_for('exibir_post', post_id=post.id) }}"><h3>{{post.titulo}}</h3></a>
                        <p>{{post.corpo}}</p>
                    </div>
                    <p class="post-date" style="position: absolute; bottom: 0px; right: 5px; font-size: 12px; color: gray;">
                        {{ formata_data(post.data_criacao)[0] }}
                    </p>
                    <p class="post-date" style="position: absolute; bottom: 15px; right: 5px; font-size: 12px; color: gray;">
                        {{ formata_data(post.data_criacao)[1] }}
                    </p>
                </div>    
            {% endfor %}
        </div>

{% endblock %}
